{% extends "base.html" %}

{% block content %}
<h1>{{ repo }}</h1>

{% if pushes %}
<h2>Pushes</h2>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Refname</th>
        <th>User</th>
        <th>Rev</th>
      </tr>
    </thead>
    <tbody>
      {% for push in pushes %}
      <tr>
        <td>{{ push.refname }}</td>
        <td>{{ push.user }}</td>
        <td>{{ push.old_rev|slice:":6" }}..{{ push.new_rev|slice:":6" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% endblock %}
