{% extends "base.html" %}

{% block title %}Add File{% endblock %}

{% block content %}
<h1>Add File</h1>

{% if form.non_field_errors %}
<div class="alert alert-danger">
  {% for error in form.non_field_errors %}
    {{ error }}
  {% endfor %}
</div>
{% endif %}

<form role="form" enctype="multipart/form-data" method="post" action="{% url 'ssh:add-file' %}">
  {% csrf_token %}
  <div class="form-group">
    {% for field in form %}
      <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        <p class="help-block">{{ error }}{% for error in field.errors %}{{ error }}{% endfor %}</p>
      </div>
    {% endfor %}
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
