{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block nav-profile %} class="active"{% endblock %}

{% block content %}
<h1>Profile</h1>

<h2>SSH Keys</h2>

{% if keys %}
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Comment</th>
        <th>Fingerprint</th>
        <th><span class="glyphicon glyphicon-wrench"></span></th>
      </tr>
    </thead>
    <tbody>
      {% for key in keys %}
      <tr>
        <td>{{ key.comment }}</td>
        <td>{{ key.fingerprint }}</td>
        <td><a href="{% url 'ssh:remove' key.id %}"><span class="glyphicon glyphicon-remove text-danger"></span></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

<div class="panel panel-default">
  <div class="panel-heading">Add public key</div>

  <div class="panel-body">
   <a href="{% url 'ssh:add-file' %}" class="btn btn-primary btn-xs" role="button">By file</a>
   or
   <a href="{% url 'ssh:add-text' %}" class="btn btn-primary btn-xs" role="button">by text</a>
  </div>
</div>

{% if notifications %}
<h2>Notifications</h2>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Path</th>
        <th><span class="glyphicon glyphicon-wrench"></span></th>
      </tr>
    </thead>
    <tbody>
      {% for notification in notifications %}
      <tr>
        <td>{{ notification.repo.path }}</td>
        <td><a href="{% url 'unsubscribe' notification.repo.pk %}"><span class="glyphicon glyphicon-remove text-danger"></span></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endblock %}
